<!DOCTYPE html>
<html lang="en">

<head>
    <title>Favourites</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
{% if user.is_authenticated %}
<body>
    <div class="jumbotron text-center">
        <h1>Favourites</h1>
        <button class="btn btn-secondary" onclick="window.location.href='../logout'">Logout</button>
        <button class="btn btn-secondary" onclick="window.location.href='/search'">Search</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <button>Edit</button>
                <button>Delete</button>
                <button>Update</button>
                <button>Add</button>
            </div>
            <div class="col-sm-4">
                <h3>Recent Favourites</h3>
                <a>Favourite 1</a>
                <a>Favourite 2</a>
                <a>Favourite 3</a>
                <a>Favourite 4</a>
                <a>Favourite 5</a>
                <a>Favourite 6</a>
                <a>Favourite 7</a>
                <a>Favourite 8</a>
            </div>
            <div class="col-sm-4">
                <h1>Top Ten searched</h1>
                <p>Search 1</p>
                <p>Search 2</p>
                <p>Search 3</p>
                <p>Search 4</p>
                <p>Search 5</p>
                <p>Search 6</p>
                <p>Search 7</p>
                <p>Search 8</p>
            </div>
        </div>
    </div>
</body>
{% endif %}
</html>
