<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}../static/jsFiles/search.js"></script>
</head>

<body>
    <button class="btn btn-secondary" onclick="window.location.href='../'">Logout</button>
    <div class="jumbotron text-center">
        <span>
            <button class="btn btn-primary" onclick="window.location.href='/results'">Start a New Search!</button>
            <br>
            <br>
        </span>
    </div>
    {% for user in users %}
        {{ user.username }}
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-primary" onclick="window.location.href='/favourites'">Favourites</button>
                <br>
                <br>
                <img src="https://i611.photobucket.com/albums/tt200/Hotguync303/Beautiful%20Places/57eac8ee-7b16-475d-afe4-0a3d849a6fcb_zpsgdpcww6i.jpg?width=250&height=250&crop=1:1,smart" alt="broken link">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-success">Skytrain Schedule</button>
                <br>
                <br>
                <img src="https://i611.photobucket.com/albums/tt200/Hotguync303/Beautiful%20Places/Beautiful20Places2011_zpss1rquejz.jpg?width=250&height=250&crop=1:1,smart" alt="broken link">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-warning">Bus Schedule</button>
                <br>
                <br>
                <img src="https://i611.photobucket.com/albums/tt200/Hotguync303/Beautiful%20Places/Beautiful20Places2036_zpspxrki1yy.jpg?width=250&height=250&crop=1:1,smart" alt="broken link">
            </div>
        </div>
    </div>

</body>

</html>
